body {
    background-color: #001;
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0px;
}

.item {
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid;
    place-items: start;
}

.comprar {
    background: #3eac3b;
    font-weight: 500;
    padding: 9px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    justify-content: center;
}